@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Singularity- Login</title>

    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/ruang-admin.min.css" rel="stylesheet" />
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>

    <link href="~/Content/kendo/2021.1.330/kendo.custom.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.1.330/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.1.330/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.1.330/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.1.330/kendo.dataviz.default.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2021.1.330/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2021.1.330/kendo.all.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <style type="text/css">
        .error {
        border-color: red !important;
        display: block;
        font-size:14px;
        width:100%;
        padding:1vh;
        }
        div.error {
        color: red;
        display: inline-block;
        float: left;
        font-size:14px;
    }
    </style>
</head>
<body class="bg-gradient-login">
    <!-- Login Content -->
    <div class="container-login">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-8 col-md-7" style="margin-top:5vh">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0"> 
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="login-form">
                                    <div class="text-center" style="margin-top:-6vh;margin-left:-5vh;margin-bottom:1vh">
                                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                    </div>
                                    <form  id="LogInForm">
                                        <div class="form-group">
                                            <input  class="form-control" id="exampleInputEmail" name="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="User Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword" name="exampleInputPassword" placeholder="Password">
                                        </div>
                                       
                                        <div class="form-group">
                                            <a href="" id="btnLogIn" class="btn btn-primary btn-block">Login</a>
                                        </div>
                                    </form>
                                    <span id="loginNotification"></span>
                                   
                                    <hr>
                                    <div class="text-center">
                                        <a class="font-weight-bold small" href="">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/ViewsScript/Js-LogIn.js"></script>
   
</body>
</html>